<div class="container">
  <form #emailForm="ngForm">
    <input
      #emailControl="ngModel"
      required
      pattern=".+@.+\..+"
      [(ngModel)]="email"
      type="email"
      name="email"
      class="input"
    />
    <ng-container *ngIf="emailControl.invalid && emailControl.touched">
      <div *ngIf="emailControl.errors.required">You must enter an email.</div>
      <div *ngIf="emailControl.errors.pattern">You must enter an valid email.</div>
    </ng-container>
  </form>
</div>
<div class="container">
  <div>Is Form Valid: {{ emailForm.valid }}</div>
  <div>Form values: {{ emailForm.value | json }}</div>
</div>
